whisper
SpeechRecognition
gpt4all==2.2.1.post1
pyaudio==0.2.13
pyttsx3==2.90
soundfile==0.12.1
certifi            
cffi               
charset-normalizer 
colorama           
comtypes           
ffmpeg             
filelock           
fsspec             
gpt4all            
idna               
Jinja2           
llvmlite         
MarkupSafe       
more-itertools    
mpmath          
networkx           
numba             
numpy              
openai-whisper     
pip               
PyAudio          
pycparser        
pypiwin32         
pyttsx3           
pywin32            
regex              
requests           
setuptools         
soundfile         
SpeechRecognition 
sympy             
tiktoken          
torch             
tqdm              
typing_extensions 
urllib3           